{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="dmain">
    <p class="content-howitworks"> Our Bombshell team of experts endlessly scours the fashion magazines, fit guides, style blogs, and swimwear boutiques to keep our collection current with the latest styles. Then, to find out what works for real women, we buy and try on swimsuits. A lot of them. Not all suits make the cut. Every single brand and style in our curated collection has been tried and tested for quality and comfort by one of our experts along with real woman volunteers. Based on the characteristics of the suit, we then add it to our ever-growing database, and when the right person comes along, our proprietary fit algorithm makes the match: the suit finds a loving home with a grateful owner</p>
    <div class="article-content">
      <div id="text-16" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>1</h3>
        </div>
        <div class="textwidget"></div>
      </div>
      <div id="text-17" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>2</h3>
        </div>
        <div class="textwidget"></div>
      </div>
      <div id="text-18" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>3</h3>
        </div>
        <div class="textwidget"></div>
      </div>
      <div id="text-12" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>Your body</h3>
        </div>
        <div class="textwidget">We know every woman's body is different. We gather your basic info and those critical little details necessary to make sure we get your suit just right. (Don't worry: we won't use your personal info for anything other than finding your perfect suit).</div>
      </div>
      <div id="text-13" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>Your style</h3>
        </div>
        <div class="textwidget">A women's bathing suit makes a statement about who she is: sporty or elegant, eccentric or classic, we make sure to match our designer suits with your tastes and needs.</div>
      </div>
      <div id="text-14" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>Your suit</h3>
        </div>
        <div class="textwidget">And that's it! Simply enter your e-mail address to see the three designer swimsuits our experts have hand picked for you, along with a link to purchase from one of our retail partners. (We're working on stocking our own inventory: look for updates soon!).</div>
      </div>
      <div id="text-15" class="content-article-howitworks clearfix">
        <div id="widget-title-two" class="content-article-howitworks-title float-left">
          <h3>Get starter url</h3>
        </div>
        <div class="textwidget"><a href="http://www.bombshellswim.com/step-1/">Get started</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}