container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: bombshellswim/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: bombshellswim.settings
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name:  "/static/"
    value: "static/"