container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
    "aws:elasticbeanstalk:container:python:environment":
    DJANGO_SETTINGS_MODULE: "bombshellswim.settings"
    "aws:elasticbeanstalk:container:python":
    WSGIPath: "bombshellswim/wsgi.py"
    "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "assets/"