{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="dmain">
    <h2>About us</h2>
    <p>Said simply, we love swimsuits. More importantly, we know what women want from their swimsuit and how tough it is to find one. Whether you're looking to flatten, flatter, cover, tone, or tighten, finding the perfects suit is often a stressful, time-consuming process. That's why we created bombshell based on two simple beliefs: every woman deserves to feel confident, comfortable, and beautiful in a bathing suit, and finding the perfect one shouldn't require hunting through clothes racks and stressful hours in a fitting room.</p>
    <p>In line with our beliefs, we have developed a unique, comprehensive online fitting service and paired it with our curated selection of the highest quality bathing suits from the best global brands. Our proprietary fitting algorithm was painstakingly created through real trials with real women of all shapes and sizes. We do more so that you can stress less. Simply go through our quick and easy fitting process, and in minutes we'll provide our recommendations and a convenient way to purchase the best swimsuit for you.</p>
    <p>Your body, your style, your suit.<br>
      That's the bombshell promise.</p>
  </div>
</div>
{% endblock %}