{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="dmain">
    <div class="faq-title">
      <h3> Frequently asked questions</h3>
    </div>
    <div id="text-6" class="content-article-fqas clearfix">
      <div id="widget-title-two" class="content-article-left-faqs float-left">
        <h3>HOW DO I PURCHASE MY RECOMMENDATIONS? </h3>
      </div>
      <div class="textwidget">To make sure we always put you in the right suit, we want to make the broadest possible selection of swimwear available. Currently, we'll send you to a partner retail site through which you can directly purchase your suit. In the future, we plan to hold a wide selection of up-to-date inventory to allow customers to purchase directly from bombshell. </div>
    </div>
    <div id="text-7" class="content-article-fqas clearfix">
      <div id="widget-title-two" class="content-article-left-faqs float-left">
        <h3>WHAT WILL YOU DO WITH THE INFORMATION I PROVIDE? </h3>
      </div>
      <div class="textwidget">Information is gathered anonymously and used only to refine our fitting algorithm to make sure we're putting you in the best suit. We collect your e-mail address in order to contact you with updates on our service, upcoming deals, and to collect (hopefully glowing) customer feedback. We will never give or sell your information to third parties under any circumstances. </div>
    </div>
    <div id="text-8" class="content-article-fqas clearfix">
      <div id="widget-title-two" class="content-article-left-faqs float-left">
        <h3>WHAT IS YOUR RETURN POLICY? </h3>
      </div>
      <div class="textwidget">Since customers currently buy directly from our retail partner sites, the return policy of those partners is in effect. If you have a question about the return policy of our partners, simply send an email to info@bombshellswim.com and one of our team members will get back to you.</div>
    </div>
    <div id="text-9" class="content-article-fqas clearfix">
      <div id="widget-title-two" class="content-article-left-faqs float-left">
        <h3> DO I HAVE TO PROVIDE MY FIT INFORMATION AND E-MAIL IN ORDER TO SEE MY RECOMMENDATIONS? </h3>
      </div>
      <div class="textwidget">Yes, that's part of the bombshell promise: the more info you give, the better job we can do of getting you into an amazing swimsuit that you'll love. </div>
    </div>
    <div id="text-10" class="content-article-fqas clearfix">
      <div id="widget-title-two" class="content-article-left-faqs float-left">
        <h3>I DON'T LIKE THE SUIT RECOMMENDED FOR ME. WHAT SHOULD I DO? </h3>
      </div>
      <div class="textwidget">First of all, we apologize! Bombshell's goal is to help every woman find a bathing suit that makes them feel confident, comfortable, and beautiful. We constantly update our fitting algorithm in order to live up to that promise. Although we can't issue a refund for your purchase (hopefully our retail partners can help you with that!), we'd love to hear why you were unsatisfied with your purchase, and more importantly, how we can make our process better. Simply send an e-mail to <a style="text-decoration: underline;" href="mailto:info@bombshellswim.com">info@bombshellswim.com</a> and one of our team members will get back to you promptly.</div>
    </div>
  </div>
</div>
{% endblock %}